/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .copy-container h1 {
        font-size: 40px;
        text-align: center;
    }

    .copy-container h2 {
        font-size: 30px;
        text-align: center;
    }

    .section-title {
        font-size: 20px;
        text-align: center;
    }

    .content {
        width: 50%;
    }

    .contact-form {
        text-align: center;
    }

}
  
/* Untuk Smartphone */
@media all and (max-width: 670px) {
    .copy-container h1 {
        font-size: 35px;
        text-align: center;
    }

    .copy-container h2 {
        font-size: 20px;
        text-align: center;
    }

    .section-title {
        font-size: 10px;
        text-align: center;
    }

    .content {
        width: 100%;
    }

    .txt-contents {
        text-align: center;
    }

    input, textarea {
        width: 100%;
    }

    .header-list {
        display: none;
    }
    
    .menu-icon {
        display: block;
        cursor: pointer;
    }
}
